<div class="container-fluid" style="background-color: #D5869C;margin-top: 5px; padding-bottom: 10px; border-radius: 5px;">
    <p class="fs-1">About the app</p>
    <p class="fs-5">This app has reinforced a lot of Angular basics for me. Learning programming languages, libraries, frameworks, and other technologies around the field can be very tedious which makes it all the better when everything comes together. </p>

    <p class="fs-5">This app has taught and reinforced numerous Angular concepts like Angular CLI commands, components, databinding methods, services, dependency injection, Angular modules, Angular routing, and form validation.</p>

    <p class="fs-5">In addition to Angular, I also used Bootstrap and customized CSS styling, npm, express.js, and git to deliver the final product and present the application via Heroku with source code available on GitHub.</p>

    <p class="fs-5">The future for this product would include building up the backend either through Firebase or MongoDB and MongoDB Atlas. I can also create a more visually aesthetic UI experience through animation. These will 
        be in the works as I continue my career as an Angular Developer.
    </p>

</div>